.headers {
    display: flex;
    justify-content: space-between;  
    border: 1px; 
    height: 80px;
    box-shadow: 1px 1px 4px 0px #00000026;
    background: #FFFFFF;
}

.profile-name {
    margin-left: auto;
    margin-top: 25px;
    color: #333E48;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0px;
}